*.class
*.jimple

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# IntelliJ Project files #
*.iml
*.ipr
*.iws

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.classpath
/.project
/.settings
/ScratchData/
/sootOutput/
/ConditionalTACAS/
/target
/.m2
dependency-reduced-pom.xml
.jqwik-database

# Ignore Slurm output files
slurm-*.out
slurm-*.err
